@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fdf2f8;
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #fbcfe8 1px, transparent 1px), linear-gradient(to bottom, #fbcfe8 1px, transparent 1px);
}

/* Custom Scrollbar for that Webcore feel */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #ffe4e6;
}
::-webkit-scrollbar-thumb {
  background: #f472b6;
  border: 2px solid #ffe4e6;
  border-radius: 6px;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}
.marquee-content {
  display: inline-block;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* Utility to hide scrollbar but keep functionality for sticky sidebars */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
